body {
    margin-left: 10px;
    background-color: aliceblue;
}

#head {
    text-align:center;
    border: 2px black solid;
    margin: 10px;
    border-radius: 5px;
}

h2 {
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

#wrapper {
    padding: 25px;
    border: 0px 0px black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    background-color: wheat;
}